<% provide(:title, "Home") %>
<!doctype html>
<html>
  <head>
    <title> <%= yield(:title)  | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>This is a the home page for the</p>
    <a href="http://www.railstutorial.org">Ruby on Rails Turotial</a>
    sample application

    
  </body>
</html>


